{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": ["standard", "prettier"],
  "ecmaFeatures": {
    "modules": false
  },
	"plugins": [
      "prettier"
	],
	"rules":{
      "max-len": [2, 180, 2],
      "object-curly-spacing": [2, "always"],
      "one-var": 0,
      "no-new": 0
	},
  "globals": {
    "google": true
  }
}
