.filter__block-checkbox {
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: 37px;
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
}

.filter__checkbox {
  display: none;

  &:checked + label {
    &::after {
      @include pseudo();
      top: 0px;
      left: -30px;
      width: 24px;
      height: 23px;
      background: url("../img/check-mark.svg") no-repeat;
    }
  }
}

.filter__block-checkbox label {
  //pointer-events: none;
  margin-left: 48px;
  position: relative;
  &::before {
    @include pseudo();
    top: -2px;
    left: -32px;
    width: 23px;
    height: 23px;
    border: 2px solid white;
    border-radius: 2px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &::before:hover  {
     opacity: 1;
  }
  &:last-child {
    margin-right: 20px;
  }
}

.filter__block-checkbox label:hover {
  &::before {
    opacity: 1;
  }
}

