.filter__block-range {
  display: flex;
  align-items: center;
  // margin-right: 15px;

}

.range {
  margin-right: 15px;

  &__main {
    position: relative;
    padding: 17px;
    width: 220px;
    height: 37px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }

  &__line {
    content: '';
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    width: calc(100% - 30px);
    position: absolute;
    top: 17px;
    left: 15px;
  }
  &__bar {
    position: absolute;
    content: '';
    top: 17px;
    left: 30px;
    height: 5px;
    width: 50%;
    background: white;
  }

  &__handle {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #b1b1b1;
    border: 7px solid white;
    border-radius: 50%;
    z-index: 5;
    &--min {
      top: 9px;
      left: 30px;
    }
    &--max {
      top: 9px;
      left: 60px;
    }
  }

  &--dragging{
      cursor: grabbing;
  }

}

