@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
