.about {
  margin-bottom: 40px;
  padding: 30px 20px;
  background: url("../img/waffle-ptn.jpg");
  border-radius: 15px;

  .about-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    &--advantage {
      display: flex;
      flex-basis: 50%;
      align-items: flex-start;

      .advantage-img {
        margin-right: 10px;
      }
      .advantage-text {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
      }

    }
  }

}
