.breadcrumbs {
  margin-top: 20px;

  .breadcrumbs-link {
    position: relative;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    &::before {
      position: absolute;
      content: ">>";
      color: #a9b9af;
      right: -15px;
      top: 2px;
      height: 15px;
      width: 10px;
    }

    &:last-child::before {
      display: none;
    }

    &::after {
      @include pseudo();
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 54px;
      background: #aebeb5;
    }

    &:last-child::after {
      display: none;
    }
  }
}
