.filter {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;

  .filter__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 15px;

    .block-title {
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

  &__block-btn {
    display: flex;
    align-items: flex-end;

    .filter-btn {
      padding: 6px 30px;
      box-shadow: none;
      border: 2px solid white;
      background: rgba(255,255,255,0.3);

      &:hover {
        background: #fff;
        color: black;
      }
      &:active {
        box-shadow: inset 0 1px 2px #696969;
        background-color: #ededed;
      }
    }
  }
}
