.footer {

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 100px;
    color: #fff;
  }

  &__social {
    margin-right: auto;
  }

  .social-btn {
    margin-right: 15px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }
  }

  .social-btn:last-child {
    margin-right: 0;
  }

  .social-btn img{
    border: 3px solid #c2cec7;
    border-radius: 50%;
  }

  &__social a {
     font-size: 0;
  }

  &__about-production a,
  &__papers a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
  }

  &__about-production {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;

    & a {
      text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,0.3);;
    }
    .about-production--for-providers {
      position: relative;
      margin-bottom: 10px;
      font-weight: 700;

      &::before {
        @include pseudo();
        top: 3px;
        left: -22px;
        width: 15px;
        height: 13px;
        background: url("../img/heart.svg") no-repeat;
      }
    }
  }

  &__papers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & a {
      text-decoration: none;
      border-bottom: 1px solid rgba(255,255,255,0.3);;
    }
    .papers__documents {
      margin-bottom: 10px;
    }
  }

  &__copyright {
    margin-left: auto;

    .copyright__made {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;

      & a{
        border-bottom: 1px solid rgba(255,255,255,0.3);
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &__papers a:hover,
  &__about-production a:hover,
  &__copyright a:hover {
    color: #ffbc9e;
  }
  &__papers a:active,
  &__about-production a:active,
  &__copyright a:active {
    color: #ffbc9e;
  }
}
