.news {
  display: flex;
  margin-bottom: 40px;

  &__blog,
  &__subscription {
    padding: 30px 20px;
    width: 48.5%;
    height: 210px;
    border-radius: 15px;
  }

  &__blog {
    margin-right: auto;
    background: #fff url("../img/strawberry-bg.png") center no-repeat;
  }

  &__blog-text {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
  &__blog-title {

    &:hover {
      color: #e84d37;
    }
    width: 285px;
    color: #323232;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    background: rgba(255,255,255,0.5);
  }

  &__subscription {
    //border: 6px;
    position: relative;
    background-color: #f8f7f4;
    background-image: url("../img/post-ptn.jpg");

    .news__subscription-wrapper {
      position: absolute;
      top: 6px;
      left: 6px;
      bottom: 6px;
      right: 6px;
      padding: 29px 18px 29px 21px;
      background: #f8f7f4;
      border-radius: 10px;

      .news__subscription-text {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;

        @media screen and (min-width: 1200px) {
          margin-bottom: 35px;
        }
      }

      .news__subscription-input {
        margin-right: 10px;
        //margin-bottom: 35px;
        padding: 15px;
        width: 60%;
        border-radius: 5px;
        border: 1px solid rgba(178, 178, 178, 0.52);
        outline: none;

        @media screen and (min-width: 1200px) {
          width: 70%;
        }

      }
      .news__subscription-input:hover {
        border: 1px solid #cacaca;
      }
      .news__subscription-input:focus {
        border: 1px solid rgba(46, 136, 228, 0.52);

        &::placeholder {
          opacity: 0;
        }
      }

      .news__subscription-btn {
        //margin-bottom: 35px;
        padding: 13px 20px;
        border: none;
      }}
  }
}
