
.catalog__pages {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;

  &:after {
    @include pseudo();
    bottom: -30px;
    left: 0;
    height: 1px;
    width: 100%;
    background: white;
    opacity: 0.3;
  }

  .catalog__pages-prev {
    display: flex;
    align-self: center;
    width: 26px;
    height: 26px;
    opacity: 0.5;
    transform: rotate(180deg);
  }

  .catalog__pages-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    text-decoration: none;
    color: white;

    &:hover {
      background: rgba(255,255,255,0.2);
      border-radius: 50%;
    }

    &:active {
      color: #000;
      background: white;
      border-radius: 50%;
    }
  }
}
